body{
background:linear-gradient(to right,#00c6ff,#0072ff);
font-family:Arial;
}

.container{
background:white;
margin-top:60px;
padding:30px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

h2{
text-align:center;
margin-bottom:20px;
}